@model SistemaVotacao.Controllers.VotoCreateViewModel

<h2>Editar Voto</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="id_candidato"></label>
        <select asp-for="id_candidato" asp-items="@(new SelectList(Model.Candidatos, "id_candidato", "nome", Model.id_candidato))" class="form-control">
            <option value="">-- Selecione --</option>
        </select>
        <span asp-validation-for="id_candidato" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
